.roundDiv{
border: 1px solid ;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
transform: scale(1.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
border-radius: 8px;
  -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0 -1px 10px rgba(0,0,0,.5);
box-shadow: 0 -1px 10px rgba(0,0,0,.5);
}

